{% extends '_base.html' %}

{% block content %}
<div> 

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/skills">Skills</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
  <hr />
  <header>
    <h1>About</h1>
  </header>
  <p>Software Engineer</p>
  <p>Hello! I'm Saurav, a passionate individual with a keen interest in software engineering and technology. I'm
    currently pursuing a Bachelor's degree in Software Engineering at Pokhara University. My journey in the field of
    technology began early, fueling my curiosity to explore and innovate. Throughout my academic and personal endeavors,
    I've developed a strong foundation in Python. I enjoy solving complex problems and turning ideas into functional
    solutions.</p>
  <p>Aside from my academic pursuits, I actively engage in projects and collaborations to broaden my skills and
    contribute to meaningful initiatives within the tech community. Whether it's developing software applications or
    participating in hackathons, I thrive on the excitement of pushing boundaries and creating impactful solutions.</p>
  <p>When I'm not coding, you can find me exploring the latest trends in technology, indulging in a good book, or
    enjoying outdoor adventures. I believe in continuous learning and strive to embrace every opportunity for personal
    and professional growth.</p>
  <p>Thank you for taking the time to learn a bit about me. Feel free to explore my portfolio and reach out if you'd
    like to connect or collaborate!</p>
</div>
{% endblock %}